* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  max-width: 1512px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px 40px;
  flex-wrap: wrap;
  padding: 11px 50px 11px 24px;
}
@media screen and (max-width: 1024.9px) {
  .header {
    padding-right: 24px;
  }
}
@media screen and (max-width: 545.9px) {
  .header {
    padding: 4px 7px 4px 20px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.header .logo {
  /* .logo__link */
}
@media screen and (max-width: 545.9px) {
  .header .logo {
    padding-left: 4px;
  }
}
.header .logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.header .search-form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0;
  flex-grow: 1;
  /* .search-form__input-events */
  /* .search-form__input-location */
  /* .search-form__input-events */
  /* .search-form__input-location */
  /* .search-form__btn-submit */
}
@media screen and (max-width: 950.9px) {
  .header .search-form {
    order: 2;
  }
}
.header .search-form__input-events, .header .search-form__input-location {
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 13px 17px;
  height: 42px;
  color: #000000;
}
.header .search-form__input-events::-moz-placeholder, .header .search-form__input-location::-moz-placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: #707070;
}
.header .search-form__input-events::placeholder, .header .search-form__input-location::placeholder {
  font-size: 16px;
  line-height: 1.17;
  color: #707070;
}
.header .search-form__input-events {
  border-radius: 8px 0px 0px 8px;
  background-image: url("./../icons/header_search_events.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 37px;
  flex-basis: 300px;
}
@media screen and (max-width: 950.9px) {
  .header .search-form__input-events {
    flex-grow: 1;
  }
}
.header .search-form__input-location {
  border-left: none;
  border-right: none;
  flex-basis: 254px;
}
@media screen and (max-width: 950.9px) {
  .header .search-form__input-location {
    flex-grow: 1;
  }
}
@media screen and (max-width: 545.9px) {
  .header .search-form__input-location {
    display: none;
  }
}
.header .search-form__btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  color: #ffffff;
  background-color: #f65858;
  border-radius: 0px 8px 8px 0px;
  flex-shrink: 0;
}
@media screen and (max-width: 545.9px) {
  .header .search-form__btn-submit {
    margin-right: 23px;
  }
}
.header .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.header .actions .btn-languages,
.header .actions .btn-logIn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  height: 36px;
  color: #212121;
  background-color: #ffffff;
  padding: 8px 0;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.header .actions .btn-signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  height: 36px;
  color: #ffffff;
  background-color: #00798a;
  padding: 8px 0;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  padding-left: 16px;
  padding-right: 16px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* .events__info */
  /* .events__title */
  /* .events__btn-location */
  /* .events__link */
  /* .events__list */
}
.events__info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.events__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .events__title {
    font-size: 20px;
  }
}
.events__btn-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  height: auto;
  color: #00798a;
  background-color: rgba(151, 202, 209, 0.12);
  gap: 10px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (max-width: 644.9px) {
  .events__btn-location {
    font-size: 14px;
    padding: 9px 8px;
  }
}
.events__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #00798a;
  text-decoration: none;
  margin-left: auto;
}
@media screen and (max-width: 644.9px) {
  .events__link {
    display: none;
  }
}
.events__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}
@media screen and (max-width: 644.9px) {
  .events__list {
    gap: 20px;
  }
}
.events .event {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 272px;
  height: 399px;
  /* .event:nth-child(n + 4) */
  /* .event__img */
  /* .event__content */
  /* .event__type */
  /* .event__title */
  /* .event__wrapper-category */
  /* .event__category */
  /* .event__distance */
  /* .event__wrapper-attendees */
  /* .event__date */
  /* .event__attendees */
  /* .event__cost */
  /* .event__date */
  /* .event__attendees */
  /* .event__cost */
  /* .event__attendees */
  /* .event__cost */
}
@media screen and (max-width: 644.9px) {
  .events .event {
    flex-direction: row;
    width: 100%;
    height: auto;
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
    gap: 8px;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event:nth-child(n+4) {
    display: none;
  }
}
.events .event__img {
  width: 272px;
  height: 153px;
  border-radius: 8px;
}
@media screen and (max-width: 644.9px) {
  .events .event__img {
    width: 98px;
    height: 55px;
  }
}
.events .event__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 644.9px) {
  .events .event__content {
    gap: 3px;
  }
}
.events .event__type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 106px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #707070;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 644.9px) {
  .events .event__type {
    order: 4;
    font-size: 8px;
    position: static;
    justify-content: start;
  }
}
.events .event__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #212121;
  padding-right: 28px;
}
@media screen and (max-width: 644.9px) {
  .events .event__title {
    order: 2;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
  }
}
.events .event__wrapper-category {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
@media screen and (max-width: 644.9px) {
  .events .event__wrapper-category {
    order: 3;
  }
}
.events .event__category, .events .event__distance {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #707070;
}
@media screen and (max-width: 644.9px) {
  .events .event__category, .events .event__distance {
    font-size: 9px;
    font-weight: 400;
  }
}
.events .event__wrapper-attendees {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
@media screen and (max-width: 644.9px) {
  .events .event__wrapper-attendees {
    order: 5;
    margin-top: 15px;
  }
}
.events .event__date, .events .event__attendees, .events .event__cost {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
.events .event__date {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.35px;
  color: #212121;
}
@media screen and (max-width: 644.9px) {
  .events .event__date {
    order: 1;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.21px;
    color: #7c6f50;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__date img {
    display: none;
  }
}
.events .event__attendees, .events .event__cost {
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (max-width: 644.9px) {
  .events .event__attendees {
    font-size: 9px;
    color: #707070;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__attendees img {
    display: none;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__cost {
    display: none;
  }
}

.footer {
  max-width: 1512px;
  margin: 0 auto;
  background-color: #212121;
  /* .footer__join */
  /* .footer__text */
  /* .footer__btn */
}
.footer .footer__wrapper {
  max-width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 24px 40px;
}
@media screen and (max-width: 425.9px) {
  .footer .footer__wrapper {
    padding: 20px 7px 36px 18px;
  }
}
.footer__join {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  padding-bottom: 25px;
  position: relative;
}
.footer__join::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #707070;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 425.9px) {
  .footer__join::after {
    width: 65%;
  }
}
.footer__text {
  font-size: 16px;
  line-height: 1.5;
  color: #f6f7f8;
  font-weight: 600;
}
.footer__btn {
  font-size: 16px;
  line-height: 1.5;
  color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: 119px;
  height: 44px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
.footer .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 830px;
  padding-right: 30px;
}
.footer .menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
  /* .menu__item--title */
  /* .menu__link */
}
.footer .menu .menu__item--title {
  font-size: 16px;
  line-height: 1.5;
  color: #f6f7f8;
}
.footer .menu__link {
  font-size: 14px;
  line-height: 1.43;
  color: #c5c4c4;
  text-decoration: none;
}
.footer .subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* .subscribe__title */
  /* .subscribe__wrapper */
}
.footer .subscribe__title {
  font-size: 16px;
  line-height: 1.5;
  color: #f6f7f8;
}
.footer .subscribe__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 24px;
  align-items: end;
}
.footer .subscribe .subscribe-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  /* .subscribe-social__link */
  /* .subscribe-social__img */
}
.footer .subscribe .subscribe-social__link {
  text-decoration: none;
}
.footer .subscribe .subscribe-social__img {
  width: 30px;
  height: 30px;
  display: block;
}
.footer .subscribe .subscribe-app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  /* .subscribe-app__link */
  /* .subscribe-app__img */
}
@media screen and (max-width: 768.9px) {
  .footer .subscribe .subscribe-app {
    display: none;
  }
}
.footer .subscribe .subscribe-app__link {
  text-decoration: none;
}
.footer .subscribe .subscribe-app__img {
  height: 40px;
  display: block;
}
.footer .rules {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  justify-content: start;
}
.footer .rules .copyright {
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
}
.footer .rules .menu {
  flex-direction: row;
  gap: 28px;
}
@media screen and (max-width: 768.9px) {
  .footer .rules .menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */