@use "./variables/mixins" as mixins;
@use "./variables/colors" as colors;
@use "./variables/variables" as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    @include mixins.flex-container(15px 40px, space-between);
    flex-wrap: wrap;
    padding: 11px 50px 11px 24px;

    @media screen and (max-width: 1024.9px) {
        padding-right: 24px;
    }

    @media screen and (max-width: 545.9px) {
        padding: 4px 7px 4px 20px;
        column-gap: 30px;
    }

    .logo {
        @media screen and (max-width: 545.9px) {
            padding-left: 4px;
        }

        /* .logo__link */

        &__link {
            @include mixins.flex-container;
        }
    }

    .search-form {
        @include mixins.flex-container(0, start);
        flex-grow: 1;

        @media screen and (max-width: 950.9px) {
            order: 2;
        }

        @mixin form-text {
            font-size: 16px;
            line-height: 1.17;
        }

        /* .search-form__input-events */
        /* .search-form__input-location */

        &__input-events,
        &__input-location {
            @include form-text;
            border: 1px solid colors.$light-gray;
            outline: none;
            padding: 13px 17px;
            height: 42px;
            color: colors.$black;

            &::placeholder {
                @include form-text;
                color: colors.$gray;
            }
        }

        /* .search-form__input-events */

        &__input-events {
            border-radius: variables.$br-radius 0px 0px variables.$br-radius;
            background-image: url("./../icons/header_search_events.svg");
            background-repeat: no-repeat;
            background-position: 10px 10px;
            padding-left: 37px;
            flex-basis: 300px;

            @media screen and (max-width: 950.9px) {
                flex-grow: 1;
            }
        }

        /* .search-form__input-location */

        &__input-location {
            border-left: none;
            border-right: none;
            flex-basis: 254px;

            @media screen and (max-width: 950.9px) {
                flex-grow: 1;
            }

            @media screen and (max-width: 545.9px) {
                display: none;
            }
        }

        /* .search-form__btn-submit */

        &__btn-submit {
            @include mixins.btn(42px, 42px, colors.$white, #f65858);
            border-radius: 0px variables.$br-radius variables.$br-radius 0px;
            flex-shrink: 0;

            @media screen and (max-width: 545.9px) {
                margin-right: 23px;
            }
        }
    }

    .actions {
        @include mixins.flex-container(22px);

        @mixin actions-btn($color: colors.$primary-color, $bg-color: colors.$white) {
            @include mixins.btn(auto, 36px, $color, $bg-color);
            padding: 8px 0;
            gap: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
        }

        .btn-languages,
        .btn-logIn {
            @include actions-btn();
        }

        .btn-signUp {
            @include actions-btn(colors.$white, colors.$action-color);
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.footer {
    background-color: colors.$primary-color;

    @mixin footer-title {
        font-size: 16px;
        line-height: 1.5;
        color: colors.$white2;
    }

    .footer__wrapper {
        @include mixins.flex-container-column;
        max-width: 1168px;
        padding: 24px 24px 40px;
        margin: 0 auto;

        @media screen and (max-width: 425.9px) {
            padding: 20px 7px 36px 18px;
        }
    }

    /* .footer__join */

    &__join {
        @include mixins.flex-container(16px, start);
        padding-bottom: 25px;
        position: relative;

        &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: colors.$gray;
            position: absolute;
            bottom: 0;

            @media screen and (max-width: 425.9px) {
                width: 65%;
            }
        }
    }

    /* .footer__text */

    &__text {
        @include footer-title();
        font-weight: 600;
    }

    /* .footer__btn */

    &__btn {
        @include footer-title();
        @include mixins.btn(119px, 44px, colors.$white, transparent);
        border: 2px solid colors.$white;
        border-radius: calc(variables.$br-radius);
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 830px;
        padding-right: 30px;
    }

    .menu {
        @include mixins.flex-container-column(7px);
        list-style-type: none;

        /* .menu__item--title */

        .menu__item--title {
            @include footer-title();
        }

        /* .menu__link */

        &__link {
            font-size: 14px;
            line-height: 1.43;
            color: colors.$light;
            text-decoration: none;
        }
    }

    .subscribe {
        @include mixins.flex-container-column(12px);

        /* .subscribe__title */

        &__title {
            @include footer-title();
        }

        /* .subscribe__wrapper */

        &__wrapper {
            @include mixins.flex-container(10px, space-between);
            padding-bottom: 24px;
            align-items: end;
        }

        .subscribe-social {
            @include mixins.flex-container(32px);

            /* .subscribe-social__link */

            &__link {
                text-decoration: none;
            }

            /* .subscribe-social__img */

            &__img {
                width: 30px;
                height: 30px;
                display: block;
            }
        }

        .subscribe-app {
            @include mixins.flex-container(22px);

            @media screen and (max-width: 768.9px) {
                display: none;
            }

            /* .subscribe-app__link */

            &__link {
                text-decoration: none;
            }

            /* .subscribe-app__img */

            &__img {
                height: 40px;
                display: block;
            }
        }
    }

    .rules {
        @include mixins.flex-container(28px);
        justify-content: start;

        .copyright {
            font-size: 14px;
            line-height: 1.43;
            color: colors.$white;
        }

        .menu {
            flex-direction: row;
            gap: 28px;

            @media screen and (max-width: 768.9px) {
                display: none;
            }
        }
    }
}
