$primary-color: #212121;
$bg-primary-color: rgba(151, 202, 209, 0.08);

$action-color: #00798a;

$white: #ffffff;
$white2: #f6f7f8;
$light: #c5c4c4;
$black: #000000;
$gray: #707070;
$light-gray: #d9d9d9;
