@mixin flex-container($gap: 0, $justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    gap: $gap;
}

@mixin flex-container-column($gap: 5px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin btn($width, $height, $color, $bg-color) {
    @include flex-container;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    width: $width;
    height: $height;
    color: $color;
    background-color: $bg-color;
}

@mixin section-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.29;
    color: #212121;

    @media screen and (max-width: 768.9px) {
        font-size: 20px;
    }
}
