@use "./colors" as colors;
@use "./variables" as variables;

@mixin center-container($max-width: 1512px) {
    max-width: $max-width;
    margin: 0 auto;
}

@mixin flex-container($gap: 0, $justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    gap: $gap;
}

@mixin flex-container-column($gap: 24px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin color-container {
    background-color: colors.$bg-primary-color;
    color: colors.$primary-color;
    border-radius: variables.$br-radius;
}

@mixin btn($width, $height, $color, $bg-color) {
    @include flex-container;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: variables.$br-radius;
    width: $width;
    height: $height;
    color: $color;
    background-color: $bg-color;
}

@mixin section-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.29;
    color: colors.$primary-color;

    @media screen and (max-width: 393.9px) {
        font-size: 20px;
    }
}

@mixin link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: colors.$action-color;
    text-decoration: none;
}
