@mixin flex-container($justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin flex-container-column($gap: 5px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin btn {
    @include flex-container;
    border: none;
    outline: none;
    cursor: pointer;
}
