@use "./../../../common-assets/styles/variables/colors" as colors;
@use "./../../../common-assets/styles/variables/mixins" as mixins;
@use "./../../../common-assets/styles/variables/variables" as variables;

.main-container {
    @include mixins.center-container(1269px);
    @include mixins.flex-container(10px, space-between);
    align-items: start;
    padding: 77px 24px 101px;
}

.map {
    color: colors.$primary-color;

    @media screen and (max-width: 1024.9px) {
        display: none;
    }

    /* .map__subtitle */

    &__subtitle {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
    }

    /* .map__title */

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4;
    }

    /* .map__wrapper */

    &__wrapper {
        @include mixins.flex-container();
        width: 350px;
        height: 285px;
        background-image: url("./../assets/images/map.png");
        background-size: contain;
        position: relative;
        border-radius: calc(variables.$br-radius * 1.5);
        margin-top: 14px;
    }

    /* .map__btn */

    &__btn {
        @include mixins.btn(173px, 41px, colors.$action-color, colors.$white);
        gap: 8px;
        font-size: 14px;
        line-height: 1.43;
        border: 2px solid colors.$action-color;
    }

    /* .map__close */

    &__close {
        position: absolute;
        top: 11px;
        right: 15px;
        cursor: pointer;
    }
}

.events {
    /* .events__link-main */

    &__link-main {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        color: colors.$action-color;
    }

    /* .events__list */

    &__list {
        flex-direction: column;
    }

    .event {
        flex-direction: row;
        width: 604px;
        height: auto;
        border-top: 1px solid colors.$light-gray;
        padding-top: 16px;

        /* .event__img */

        &__img {
            width: 160px;
            height: 90px;
            flex-shrink: 0;
        }

        /* .event__content */

        &__content {
            gap: 3px;
        }

        /* .event__type */

        &__type {
            top: 24px;
        }

        /* .event__title */

        &__title {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            padding: 0;
        }

        /* .event__attendees */

        &__wrapper-attendees {
            margin-top: 28px;
        }

        /* .event__attendees */

        &__attendees {
            font-size: 14px;
            line-height: 1.43;
        }
    }
}
