.main-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  max-width: 1244px;
  padding: 0 24px 53px;
  margin: 0 auto;
}
@media screen and (max-width: 425.9px) {
  .main-container {
    padding: 0 15px 125px;
    gap: 20px;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 46px;
  padding: 71px 0 38px;
  /* .banner__content */
  /* .banner__title */
  /* .banner__text */
  /* .banner__btn */
  /* .banner__img */
}
@media screen and (max-width: 925.9px) {
  .banner {
    flex-direction: column;
  }
}
@media screen and (max-width: 425.9px) {
  .banner {
    padding: 19px 0 0 6px;
    gap: 10px;
  }
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #212121;
  max-width: 580px;
}
@media screen and (max-width: 425.9px) {
  .banner__content {
    gap: 20px;
  }
}
.banner__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.24;
}
@media screen and (max-width: 425.9px) {
  .banner__title {
    font-size: 25px;
  }
}
.banner__text {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 425.9px) {
  .banner__text {
    font-size: 12px;
  }
}
.banner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: 125px;
  height: 40px;
  color: #ffffff;
  background-color: #00798a;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.banner__img {
  max-width: 379px;
}
@media screen and (max-width: 425.9px) {
  .banner__img {
    max-width: 215px;
  }
}

.events {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* .events__info */
  /* .events__title */
  /* .events__btn-location */
  /* .events__link */
  /* .events__list */
}
.events__info {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.events__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .events__title {
    font-size: 20px;
  }
}
.events__btn-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: auto;
  height: auto;
  color: #00798a;
  background-color: rgba(151, 202, 209, 0.12);
  gap: 10px;
  padding: 10px 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (max-width: 644.9px) {
  .events__btn-location {
    font-size: 14px;
    padding: 9px 8px;
  }
}
.events__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #00798a;
  text-decoration: none;
  margin-left: auto;
}
@media screen and (max-width: 644.9px) {
  .events__link {
    display: none;
  }
}
.events__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}
@media screen and (max-width: 644.9px) {
  .events__list {
    gap: 20px;
  }
}
.events .event {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 272px;
  height: 399px;
  /* .event:nth-child(n + 4) */
  /* .event__img */
  /* .event__content */
  /* .event__type */
  /* .event__title */
  /* .event__category */
  /* .event__inner */
  /* .event__date */
  /* .event__attendees */
  /* .event__cost */
  /* .event__date */
  /* .event__attendees */
  /* .event__cost */
  /* .event__attendees */
  /* .event__cost */
}
@media screen and (max-width: 644.9px) {
  .events .event {
    flex-direction: row;
    width: 100%;
    height: auto;
    border-top: 1px solid #d9d9d9;
    padding: 10px 0;
    gap: 8px;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event:nth-child(n+4) {
    display: none;
  }
}
.events .event__img {
  width: 272px;
  height: 153px;
  border-radius: 8px;
}
@media screen and (max-width: 644.9px) {
  .events .event__img {
    width: 98px;
    height: 55px;
  }
}
.events .event__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 644.9px) {
  .events .event__content {
    gap: 3px;
  }
}
.events .event__type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 106px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #707070;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 644.9px) {
  .events .event__type {
    order: 4;
    font-size: 8px;
    position: static;
    justify-content: start;
  }
}
.events .event__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #212121;
  padding-right: 28px;
}
@media screen and (max-width: 644.9px) {
  .events .event__title {
    order: 2;
    font-size: 10px;
    font-weight: 500;
    padding: 0;
  }
}
.events .event__category {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #707070;
}
@media screen and (max-width: 644.9px) {
  .events .event__category {
    order: 3;
    font-size: 9px;
    font-weight: 400;
  }
}
.events .event__inner {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
@media screen and (max-width: 644.9px) {
  .events .event__inner {
    order: 5;
    margin-top: 15px;
  }
}
.events .event__date, .events .event__attendees, .events .event__cost {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
.events .event__date {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.35px;
  color: #212121;
}
@media screen and (max-width: 644.9px) {
  .events .event__date {
    order: 1;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.21px;
    color: #7c6f50;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__date img {
    display: none;
  }
}
.events .event__attendees, .events .event__cost {
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
}
@media screen and (max-width: 644.9px) {
  .events .event__attendees {
    font-size: 9px;
    color: #707070;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__attendees img {
    display: none;
  }
}
@media screen and (max-width: 644.9px) {
  .events .event__cost {
    display: none;
  }
}

.join {
  background-color: rgba(151, 202, 209, 0.08);
  color: #212121;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px 57px;
  padding: 20px 56px;
  /* .join__content */
  /* .join__title */
  /* .join__text */
  /* .join__btn */
  /* .join__img */
}
@media screen and (max-width: 868.9px) {
  .join {
    -moz-column-gap: 25px;
         column-gap: 25px;
    padding: 20px;
  }
}
@media screen and (max-width: 644.9px) {
  .join {
    grid-template-columns: 1fr;
    gap: 7px;
  }
}
.join__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
.join__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .join__title {
    font-size: 20px;
  }
}
.join__text {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 768.9px) {
  .join__text {
    font-size: 12px;
  }
}
.join__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  width: 192px;
  height: 40px;
  color: #ffffff;
  background-color: #e32359;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 644.9px) {
  .join__btn {
    justify-self: center;
    margin-top: 15px;
  }
}
.join__img {
  width: 341px;
  height: 196px;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
@media screen and (max-width: 868.9px) {
  .join__img {
    width: 238px;
    height: 137px;
  }
}
@media screen and (max-width: 644.9px) {
  .join__img {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    justify-self: center;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* .categories__title */
  /* .categories__wrapper */
}
.categories__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .categories__title {
    font-size: 20px;
  }
}
.categories__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.categories .category {
  background-color: rgba(151, 202, 209, 0.08);
  color: #212121;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  width: 135px;
  height: 112px;
  padding: 22px 22px 11px;
  /* .category__icon */
  /* .category__title */
}
.categories .category__icon {
  width: 20px;
  height: 20px;
}
.categories .category__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.cities {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* .cities__title */
  /* .cities__text */
  /* .cities__wrapper */
}
.cities__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .cities__title {
    font-size: 20px;
  }
}
.cities__text {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
@media screen and (max-width: 425.9px) {
  .cities__text {
    font-size: 12px;
  }
}
.cities__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  flex-wrap: wrap;
  margin-top: 12px;
}
.cities .city {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  /* .city:nth-child(n + 5) */
  /* .city__img */
  /* .city__title */
}
@media screen and (max-width: 607.9px) {
  .cities .city:nth-child(n+5) {
    display: none;
  }
}
.cities .city__img {
  width: 205px;
  height: 205px;
}
@media screen and (max-width: 768.9px) {
  .cities .city__img {
    width: 153px;
    height: 153px;
  }
}
.cities .city__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
}
@media screen and (max-width: 425.9px) {
  .cities .city__title {
    font-size: 15px;
  }
}

.works {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* .works__title */
  /* .works__wrapper */
}
.works__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .works__title {
    font-size: 20px;
  }
}
.works__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px 32px;
  align-items: stretch;
}
@media screen and (max-width: 768.9px) {
  .works__wrapper {
    flex-direction: column;
  }
}
.works .work-info {
  background-color: rgba(151, 202, 209, 0.08);
  color: #212121;
  border-radius: 8px;
  display: grid;
  gap: 24px;
  grid-template-columns: 41px auto;
  padding: 32px 24px 24px;
  flex: 0 1 580px;
  /* .work-info__icon */
  /* .work-info__title */
  /* .work-info__text */
  /* .work-info__link */
}
@media screen and (max-width: 768.9px) {
  .works .work-info {
    flex-basis: auto;
  }
}
@media screen and (max-width: 393.9px) {
  .works .work-info {
    gap: 10px 15px;
    grid-template-columns: 25px auto;
    padding: 20px 15px 15px;
  }
}
.works .work-info__icon {
  grid-row-start: 1;
  grid-row-end: 4;
  width: 41px;
  height: 41px;
}
@media screen and (max-width: 393.9px) {
  .works .work-info__icon {
    width: 25px;
    height: 25px;
  }
}
.works .work-info__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (max-width: 393.9px) {
  .works .work-info__title {
    font-size: 12px;
  }
}
.works .work-info__text {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 393.9px) {
  .works .work-info__text {
    font-size: 10px;
  }
}
.works .work-info__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #00798a;
  text-decoration: none;
}
@media screen and (max-width: 393.9px) {
  .works .work-info__link {
    font-size: 10px;
  }
}

.friendsheeps {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* .friendsheeps__title */
  /* .friendsheeps__text */
  /* .friendsheeps__wrapper */
}
.friendsheeps__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
  color: #212121;
}
@media screen and (max-width: 393.9px) {
  .friendsheeps__title {
    font-size: 20px;
  }
}
.friendsheeps__text {
  font-size: 16px;
  line-height: 1.5;
  color: #707070;
}
@media screen and (max-width: 393.9px) {
  .friendsheeps__text {
    display: none;
  }
}
.friendsheeps__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 12px;
}
.friendsheeps .article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 376px;
  /* .article__img */
  /* .article__title */
  /* .article__text */
  /* .article__link */
}
.friendsheeps .article__img {
  width: 376px;
  height: 191px;
}
@media screen and (max-width: 425.9px) {
  .friendsheeps .article__img {
    width: 364px;
    height: 185px;
  }
}
.friendsheeps .article__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;
  max-width: 300px;
  margin-top: 12px;
}
@media screen and (max-width: 393.9px) {
  .friendsheeps .article__title {
    font-size: 16px;
  }
}
.friendsheeps .article__text {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (max-width: 393.9px) {
  .friendsheeps .article__text {
    font-size: 12px;
  }
}
.friendsheeps .article__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #00798a;
  text-decoration: none;
  font-weight: 400;
  margin-top: 4px;
}
@media screen and (max-width: 393.9px) {
  .friendsheeps .article__link {
    font-size: 12px;
    line-height: 23px;
  }
}/*# sourceMappingURL=home.css.map */