@use "./../../../common-assets/styles/variables/mixins" as mixins;
@use "./../../../common-assets/styles/variables/colors" as colors;
@use "./../../../common-assets/styles/variables/variables" as variables;

.main-container {
    @include mixins.flex-container-column(64px);
    width: 100%;
    max-width: 1244px;
    padding: 0 24px 53px;
    margin: 0 auto;

    @media screen and (max-width: 425.9px) {
        padding: 0 15px 125px;
        gap: 20px;
    }
}

.banner {
    @include mixins.flex-container(46px, start);
    padding: 71px 0 38px;

    @media screen and (max-width: 925.9px) {
        flex-direction: column;
    }

    @media screen and (max-width: 425.9px) {
        padding: 19px 0 0 6px;
        gap: 10px;
    }

    /* .banner__content */

    &__content {
        @include mixins.flex-container-column();
        color: colors.$primary-color;
        max-width: 580px;

        @media screen and (max-width: 425.9px) {
            gap: 20px;
        }
    }

    /* .banner__title */

    &__title {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.24;

        @media screen and (max-width: 425.9px) {
            font-size: 25px;
        }
    }

    /* .banner__text */

    &__text {
        font-size: 16px;
        line-height: 24px;

        @media screen and (max-width: 425.9px) {
            font-size: 12px;
        }
    }

    /* .banner__btn */

    &__btn {
        @include mixins.btn(125px, 40px, colors.$white, colors.$action-color);
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
    }

    /* .banner__img */

    &__img {
        max-width: 379px;

        @media screen and (max-width: 425.9px) {
            max-width: 215px;
        }
    }
}

.join {
    @include mixins.color-container;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px 57px;
    padding: 20px 56px;

    @media screen and (max-width: 868.9px) {
        column-gap: 25px;
        padding: 20px;
    }

    @media screen and (max-width: 644.9px) {
        grid-template-columns: 1fr;
        gap: 7px;
    }

    /* .join__content */

    &__content {
        @include mixins.flex-container-column(16px);
        align-items: start;
    }

    /* .join__title */

    &__title {
        @include mixins.section-title;
    }

    /* .join__text */

    &__text {
        font-size: 16px;
        line-height: 1.5;

        @media screen and (max-width: 768.9px) {
            font-size: 12px;
        }
    }

    /* .join__btn */

    &__btn {
        @include mixins.btn(192px, 40px, colors.$white, #e32359);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;

        @media screen and (max-width: 644.9px) {
            justify-self: center;
            margin-top: 15px;
        }
    }

    /* .join__img */

    &__img {
        width: 341px;
        height: 196px;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;

        @media screen and (max-width: 868.9px) {
            width: 238px;
            height: 137px;
        }

        @media screen and (max-width: 644.9px) {
            grid-row-start: auto;
            grid-row-end: auto;
            grid-column-start: auto;
            grid-column-end: auto;
            justify-self: center;
        }
    }
}

.categories {
    @include mixins.flex-container-column();

    /* .categories__title */

    &__title {
        @include mixins.section-title;
    }

    /* .categories__wrapper */

    &__wrapper {
        @include mixins.flex-container(16px);
        flex-wrap: wrap;
    }

    .category {
        @include mixins.color-container;
        @include mixins.flex-container-column(6px);
        align-items: center;
        width: 135px;
        height: 112px;
        padding: 22px 22px 11px;

        /* .category__icon */

        &__icon {
            width: 20px;
            height: 20px;
        }

        /* .category__title */

        &__title {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
        }
    }
}

.cities {
    @include mixins.flex-container-column(16px);

    /* .cities__title */

    &__title {
        @include mixins.section-title;
    }

    /* .cities__text */

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: colors.$gray;

        @media screen and (max-width: 425.9px) {
            font-size: 12px;
        }
    }

    /* .cities__wrapper */

    &__wrapper {
        @include mixins.flex-container(42px);
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .city {
        @include mixins.flex-container-column();
        align-items: center;

        /* .city:nth-child(n + 5) */

        &:nth-child(n + 5) {
            @media screen and (max-width: 607.9px) {
                display: none;
            }
        }

        /* .city__img */

        &__img {
            width: 205px;
            height: 205px;

            @media screen and (max-width: 768.9px) {
                width: 153px;
                height: 153px;
            }
        }

        /* .city__title */

        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.4;
            color: colors.$primary-color;

            @media screen and (max-width: 425.9px) {
                font-size: 15px;
            }
        }
    }
}

.works {
    @include mixins.flex-container-column();

    /* .works__title */

    &__title {
        @include mixins.section-title;
    }

    /* .works__wrapper */

    &__wrapper {
        @include mixins.flex-container(12px 32px);
        align-items: stretch;

        @media screen and (max-width: 768.9px) {
            flex-direction: column;
        }
    }

    .work-info {
        @include mixins.color-container;
        display: grid;
        gap: 24px;
        grid-template-columns: 41px auto;
        padding: 32px 24px 24px;
        flex: 0 1 580px;

        @media screen and (max-width: 768.9px) {
            flex-basis: auto;
        }

        @media screen and (max-width: 393.9px) {
            gap: 10px 15px;
            grid-template-columns: 25px auto;
            padding: 20px 15px 15px;
        }

        /* .work-info__icon */

        &__icon {
            grid-row-start: 1;
            grid-row-end: 4;
            width: 41px;
            height: 41px;

            @media screen and (max-width: 393.9px) {
                width: 25px;
                height: 25px;
            }
        }

        /* .work-info__title */

        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;

            @media screen and (max-width: 393.9px) {
                font-size: 12px;
            }
        }

        /* .work-info__text */

        &__text {
            font-size: 16px;
            line-height: 1.5;

            @media screen and (max-width: 393.9px) {
                font-size: 10px;
            }
        }

        /* .work-info__link */

        &__link {
            @include mixins.link;

            @media screen and (max-width: 393.9px) {
                font-size: 10px;
            }
        }
    }
}

.friendsheeps {
    @include mixins.flex-container-column(16px);

    /* .friendsheeps__title */

    &__title {
        @include mixins.section-title;
    }

    /* .friendsheeps__text */

    &__text {
        font-size: 16px;
        line-height: 1.5;
        color: colors.$gray;

        @media screen and (max-width: 393.9px) {
            display: none;
        }
    }

    /* .friendsheeps__wrapper */

    &__wrapper {
        @include mixins.flex-container(32px);
        align-items: stretch;
        flex-wrap: wrap;
        margin-top: 12px;
    }

    .article {
        @include mixins.flex-container-column(12px);
        flex-basis: 376px;

        /* .article__img */

        &__img {
            width: 376px;
            height: 191px;

            @media screen and (max-width: 425.9px) {
                width: 364px;
                height: 185px;
            }
        }

        /* .article__title */

        &__title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1.55;
            max-width: 300px;
            margin-top: 12px;

            @media screen and (max-width: 393.9px) {
                font-size: 16px;
            }
        }

        /* .article__text */

        &__text {
            font-size: 16px;
            line-height: 1.5;

            @media screen and (max-width: 393.9px) {
                font-size: 12px;
            }
        }

        /* .article__link */

        &__link {
            @include mixins.link;
            font-weight: 400;
            margin-top: 4px;

            @media screen and (max-width: 393.9px) {
                font-size: 12px;
                line-height: 23px;
            }
        }
    }
}
